<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>bot</title>
    <!--===== Required meta tags =====-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--===== Bootstrap CSS =====-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
h1 {text-align: center;}

    </style>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<div class="container mt-5 ">
    <h1>Welcome!</h1>
    <h1><p>Click <a th:href="@{/bot}">here</a> to start work.</p></h1>
</div>
<!--===== Optional JavaScript =====-->
<!--===== jQuery first, then Popper.js, then Bootstrap JS =====-->
<div th:insert="bootstrap :: bootstrap"></div>
</body>
</html>